h2 {
    color: red;
    
}
input,
textarea {
    border: 2px solid blue; 
}
button {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    padding: 0.5% 0;
    appearance: none;
    background-color: rgb(237, 208, 208);
    color: #1321f1 ;
    font-size: 1.4rem;
}
